.input-box{
    color: white;
    display: grid;
    /*min-height: 70px;
    max-height: 70px;*/
    height: 70px;
    grid-template-columns: 88% 12%;
    background-color:rgb(8, 32, 63);
}

.input-box input{
    padding: 20px;
}

.send-msg-btn {
    float: right;
    background-color: rgba(210, 237, 255, 0.884);
    color: black;
    width: 100%;
    padding: 7px;
}

@media screen and (max-width:1024px)
{
    .input-box{
        grid-template-columns: 85% 15%;
    }
}

@media screen and (max-width:768px)
{
    .input-box{
        grid-template-columns: 80% 20%;
    }
}


@media screen and (max-width:574.5px)
{
    .input-box{
        position:fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    
}